.collabpads-participants > span::before {
	content: '(';
}

.collabpads-participants > span:not( :first-child )::before {
	content: ',\ ';
}

.collabpads-participants > span:last-child::after {
	content: ')';
}
